<?xml version="1.0"?>
<configuration>
  <!--<system.diagnostics>
    <sources>
      <source name="System.Windows.Data" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>

    </sources>
    <switches>
      <add name="SourceSwitch" value="All" />
    </switches>

    <sharedListeners>
      <add name="textListener"
      type="System.Diagnostics.TextWriterTraceListener"
      initializeData="GraveOfBindErrors.txt" />
    </sharedListeners>

    <trace autoflush="true" indentsize="4"></trace>

  </system.diagnostics>-->
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="XmlEditor.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <XmlEditor.Presentation.Properties.Settings>
            <setting name="ErrorMessagesTabHeight" serializeAs="String">
                <value>200</value>
            </setting>
        </XmlEditor.Presentation.Properties.Settings>
    </userSettings>
</configuration>
